body {
  background-color: var(--bs-primary);
  font-family: 'Poppins';
}

h4 {
  color: var(--bs-emphasis-color);
  font-weight: bold;
  text-align: center;
}

#login-logo {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: var(--bs-primary);
  white-space: normal;
}

.row {
  margin-bottom: 1rem;
}

.p-text {
  color: var(--bs-secondary);
}

#p-text-title {
  font-size: 20px;
}

.action-btn {
  height: 28px;
  width: 28px;
  margin: .1rem;
}

#image-tbl {
  width: 30px;
  height: 30px;
  margin: .1rem;
}

#page-top-btn {
  background: var(--bs-primary);
}

#nav-img {
  height: 32px;
  width: 32px;
}

#nav-datetime-icon {
  padding-right: 0px;
  margin-right: 0px;
}

h5 {
  font-weight: bold;
  color: var(--bs-emphasis-color);
}

#login-img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

#nav-profile {
  margin-bottom: 0px;
}

#nav-profile-name {
  margin-right: .5rem;
  color: var(--bs-secondary);
  font-size: small;
}

#profile-icon {
  color: #d1d3e2;
  margin-right: .5rem;
}

.current-datetime {
  font-size: 12px;
}

td {
  white-space: nowrap;
}

.col-style {
  margin-bottom: .5rem;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.print-tbl-row {
  text-align: center;
}

.print-tbl-row-top {
  margin: 0;
}

.tbl-head {
  text-align: center;
  font-weight: bold;
}

.tbl-row {
  margin-bottom: 0;
}

.tbl-label {
  font-weight: bold;
}

.print-container {
  font-size: 12px;
  background-color: white;
}

.tbl-row-header {
  text-align: center;
}

h6 {
  font-weight: bold;
}

.print-total-text {
  font-weight: bold;
}

.tbl-row-footer-label {
  text-align: center;
}

.print-ca-form-tbl {
}

.col-border {
  border: solid;
  border-color: var(--bs-border-color);
  border-width: 1px;
}

.col-bold {
  font-weight: bold;
}
.error-message {
    color: red;
    font-size: 14px; /* Adjust font size as needed */
}
